@model List<AthleteManagementApp.Models.Domain.Category>

    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Show All Categories</h1>
        </div>
    </div>

    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>Edit</td>
                </tr>
                }
        </tbody>
        </table>
    </div>